src/main/mule/api-router.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="INTG-MS-UCCU-blend-fiserv-custcreate-prc-api-main">
        <http:listener config-ref="INTG-UCCU-blend-fiserve-prc-api-httpListenerConfig" path="${api.basepath}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[attributes.headers default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.headers default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="INTG-MS-UCCU-blend-fiserv-custcreate-prc-api-config" />
    </flow>
    <flow name="get:\healthCheck:INTG-MS-UCCU-blend-fiserv-custcreate-prc-api-config">
		<flow-ref doc:name="sf-healthCheck" doc:id="a98dbfdc-ab05-4099-9dac-069d50befa96" name="sf-healthCheck"/>
    </flow>
    <flow name="post:\v1:application\json:INTG-MS-UCCU-blend-fiserv-custcreate-prc-api-config">
		<flow-ref doc:name="sf-implementation" doc:id="2185ecc3-fc64-445d-beca-4fa37fa64595" name="sf-implementation"/>
    </flow>
</mule>
